.nav {
  display: flex;
  justify-content: center;
}


.nav ul {
  display: flex;



}

.nav ul li {
  display: flex;
  padding: 10px;
  font-family: $sans-serif;

}

.nav ul li a:hover{
  cursor: pointer;
  background-color: $light-gray;
}

.nav ul li:last-child {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 9px;
  align-items: center;
}
